<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Video Player</title>
</head>
<body>
<form action="/action" method="get">
<input name="url" size="100" value="{{url}}"> Start time: <input name="start_time" size="8"><br>
<input type="submit" name="open" value="Open Player">
<input type="submit" name="open_and_play" value="Open Player & Play">
<br>
<input type="submit" name="browser" value="Open in Browser">
<input type="submit" name="yt" value="Get direct URL">
</form>
<a href="/playlist">Show Playlists</a>
{% if not done is none %}
<h2 id="done_label">{% if done %}Action completed{% else %}Error{% endif %}</h2>
<script>
setTimeout('document.getElementById("done_label").style.color="lightgray"', 2000);
</script>
{% endif %}
{% if direct_url %}
<a href="{{direct_url}}">Direct URL</a>
<p>
{% endif %}
<p>
Bookmark this: <a href="javascript:(function(){location.href='{{base}}?url='+encodeURIComponent(location.href);})()">Play on TV</a>
<br>
<textarea rows="5" cols="35">
javascript:(function(){location.href='{{base}}?url='+encodeURIComponent(location.href);})()
</textarea>

<p>
Sites:
<br>
<a href="https://w.online-life-hd.xyz/">w.online-life-hd.xyz</a><br>
<a href="https://e.zfilm-online.xyz/">e.zfilm-online.xyz</a><br>
</body>
</html>
